body {
    font-family:sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 0;
}

#business-card {
    box-shadow: 0 0 10px #ccc;
    background-color: white;
    margin: 25px;
    padding: 25px;
    width: 300px;
    text-align: center;
    border-radius: 12px;
}

.profile-photo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-photo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

h1, h2 {
    color: #333;
}

p, a {
    color: #555;
    font-size: 16px;
    text-decoration: none;
}

a {
    color:rgb(127, 187, 255)
}

a:hover {
    text-decoration: underline;
}


#bio {
    line-height: 1.5em;
    font-size: 20px;
    font-family: Arial;
}

@media only screen and ( max-width: 600px) {
    #business-card {
        width: 90%;
        padding: 15px;
    }
}